<!-- <dx-data-grid 
    id="gridContainer"
    [dataSource]="dataSource"
    [customizeColumns]="customizeColumns">
<dxo-paging [pageSize]="10"></dxo-paging>
<dxo-pager 
[showPageSizeSelector]="true"
[allowedPageSizes]="[5, 10, 20]"
[showInfo]="true">
</dxo-pager>
<dxi-column dataField="ID"></dxi-column>
<dxi-column dataField="Name"></dxi-column>
<dxi-column dataField="Email"></dxi-column>
<dxi-column dataField="Address"></dxi-column>
    <dxo-load-panel [enabled]="false"></dxo-load-panel>
    <dxo-scrolling mode="infinite"></dxo-scrolling>
</dx-data-grid> -->
<!-- <dx-data-grid 
    id="gridContainer"
    [dataSource]="dataSource"   [customizeColumns]="customizeColumns">    
    <dxo-paging [pageSize]="10"></dxo-paging>
    <dxo-scrolling mode="infinite"></dxo-scrolling>
     -->
    <!-- <dxo-pager 
        [showPageSizeSelector]="true"
        [allowedPageSizes]="[5, 10, 20]"
        [showInfo]="true"
        [showNavigationButtons]="true">
    </dxo-pager> -->
    
    <!-- <dxi-column dataField="ID"></dxi-column>
    <dxi-column dataField="Name"></dxi-column>
    <dxi-column dataField="Email"></dxi-column>
    <dxi-column dataField="Address"></dxi-column>
    
</dx-data-grid> -->


   