<div class="container" *ngIf="noProducts">
  <br/>
  <h1>
    <i class="fa fa-shopping-cart"></i>
    Products
  </h1>
  <div class="table-responsive">
    <table class="table table-hover">
      <thead>
        <tr>
          <th class="text-center">Product Name</th>
          <th class="text-center">Description</th>
          <th class="text-center">Price</th>
          <th class="text-center">Available Quantity</th>
          <th class="text-center">Image</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let product of products | paginate: { itemsPerPage: 2, currentPage: p }">
          <td class="text-center">{{product.name}}</td>
          <td class="text-center">{{product.description}}</td>
          <td class="text-center">{{product.price}}</td>
          <td class="text-center">{{product.amountAvailable}}</td>
          <td class="text-center">
            <div>
              <img src="data:image/png;base64,{{product?.image}}" class="img img-fluid" alt="">
            </div>
          </td>
          <td class="text-center">
            <a class="btn btn-info" (click)="AddToCart(product.id)">
              <i class="fa fa-shopping-cart fa-lg"></i>Add to cart </a>
          </td>
        </tr>
      </tbody>
    </table>
    <pagination-controls (pageChange)="p = $event" class="text-center"></pagination-controls>
  </div>
</div>


<div class="jumbotron mt-5" *ngIf="!noProducts">
  <div class="display-3 text-center">there is no products with this name</div>
</div>