<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" routerLink="/products/display-all">Souk</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/products/add-product">Add Product</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/products/display-all">All Products</a>
      </li>
      <li class="nav-item">
      <a class="nav-link" routerLink="/orders/getall">Show all Orders</a>
        </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
        <!-- #txt (input)="search(txt.value)" (click)="search(txt.value)" -->
      <input class="form-control mr-sm-2"  [(ngModel)]="searchWord" name="searchWord" type="search" placeholder="Search for a product" aria-label="Search" >
      <a class="btn btn-outline-success my-2 my-sm-0"
       routerLink="products/search" [queryParams]="{ productName: searchWord}">Search</a>
       <!-- <a [routerLink]="['/products/display-all']" [queryParams]="{ productName: searchWord}">
        Products
      </a> -->
    </form>
    <div class="ml-1">
      <a class="btn btn-secondary " routerLink="/viewCart">Shopping Cart</a>
    </div>
  </div>
</nav>